body
{
    margin-left: 4px;
    margin-right: 4px;
} 

.ui-footer
{
    text-align: center;    
}

.err
{
    color: red;
}

.logo {
    float:left;
    margin-right: 15px;
}

.infobox {
}

.infobox h1 {
    font-size: 1em;
}

.infobox + * {
    clear: both;
}

#map_canvas
{
    text-align:center;
}